{% extends "base.html" %}
{% block body %}
    Compile the following data to add a movie!<br>
    <ul>
        <form action="{{ url_for("add_movie") }}" method="POST">
            Title:<br>
        <input name="title" type="text" placeholder="TITLE"><br><br>
            Genre:<br>
        <input name="genre" type="text" placeholder="GENRE"><br><br>
            Duration:<br>
        <input name="duration" type="int" placeholder="DURATION"><br><br>
            Synopsis:<br>
        <input name="synopsis" type="text" placeholder="SYNOPSIS"><br><br>
            Director:<br>
        <input name="director" type="text" placeholder="DIRECTOR"><br><br>
            Release Date:<br>
        <input name="day" type="date" placeholder="DAY"><br><br>

        Can't find the director? <a href="{{ url_for('add_director') }}">Add</a><br><br>
            <input type="submit">

    </form>

    </ul>
{% endblock %}