{% extends "base.html" %}
{% block body %}
    Compile the following data to add a movie!<br>
    <ul>
        <form action="{{ url_for("add_movie") }}" method="POST">
            Title:<br>
        <input name="title" type="text" placeholder="TITLE"><br>
            Genre:<br>
        <select name="genre">
            {% for g in gen %}
                <option value="{{ g.genre }}">{{ g.genre }}</option>
            {% endfor %}
        </select><br>
            Duration:<br>
        <input name="duration" type="int" placeholder="DURATION"><br>
            Synopsis:<br>
        <input name="synopsis" type="text" placeholder="SYNOPSIS"><br>
            Director:<br>
        <input name="director" type="text" placeholder="DIRECTOR"><br>
            Release Date:<br>
        <input name="day" type="date" placeholder="DAY"><br>
            Actors' name:<br>
        <input name="actors" type="text" placeholder="ACTORS" pattern="[a-zA-Z][a-zA-Z\s]*[^\s]$"><br>
            <input type="submit"><br>
        Can't find the director? <a href="{{ url_for('add_director') }}">Add</a><br><br>

        </form>
    </ul>
{% endblock %}