{% extends 'base.html' %}
{% block body %}
    What do you want to edit?
    <form action="{{ url_for('edit_data') }}" method="POST">
        <label>
            <select name="edit_obj">
                <option value="movies">Movies</option>
                <option value="actors">Actors</option>
                <option value="directors">Directors</option>
                <option value="rooms">Rooms</option>
                <option value="projections">Projections</option>
            </select>
        </label>
        <input type="submit">
    </form>
    {% if mov %}
        <a href="{{ url_for('add_movie') }}">Add</a> a new movie<br><br>
        {% for m in mov %}
            {{ m }} <a href="{{ url_for('edit_movie', title=m.movies_title) }}">Edit</a><br><br>
        {% endfor %}
    {% elif act %}
        <a href="{{ url_for('add_actor') }}">Add</a> a new actor<br><br>
        {% for a in act %}
            {{ a }} <a href="{{ url_for('edit_actor', actor_id=a.actors_id) }}">Edit</a><br><br>
        {% endfor %}
    {% elif dir %}
        <a href="{{ url_for('add_director') }}">Add</a> a new director<br><br>
        {% for d in dir %}
            {{ d }} <a href="{{ url_for('edit_director', director_id=d.directors_id) }}">Edit</a><br><br>
        {% endfor %}
    {% elif room %}
        <a href="{{ url_for('add_room') }}">Add</a> a new room<br><br>
        {% for r in room %}
            {{ r }} <a href="{{ url_for('edit_room', room_id=r.rooms_id) }}">Edit</a><br><br>
        {% endfor %}
    {% elif proj %}
        You can add a new projection on the schedule from the movie page<br>
        <strong>Warning: deleting a projections will refund all purchased tickets!</strong><br><br>
        {% for p in proj %}
            {{ p }} <a href="{{ url_for('edit_projection_movie', proj_id=p.projections_id ) }}">Edit</a> or <a href="{{ url_for('delete_projection', title='man', proj_id=p.projections_id ) }}">Delete</a> <br>
        {% endfor %}
    {% endif %}
{% endblock %}