{% extends 'base.html' %}
{% block body %}
    What do you want to edit?
    <form action="{{ url_for('edit_data') }}" method="POST">
        <label>
            <select name="edit_obj">
                <option value="movies">Movies</option>
                <option value="actors">Actors</option>
                <option value="directors">Directors</option>
                <option value="rooms">Rooms</option>
            </select>
        </label>
        <input type="submit">
    </form>
    {% if mov %}
        {% for m in mov %}
            {{ m }} <a href="{{ url_for('edit_movie', title=m.movies_title) }}">Edit</a><br><br>
        {% endfor %}
    {% elif act %}
        {% for a in act %}
            {{ a }} <a href="{{ url_for('edit_actor', actor_id=a.actors_id) }}">Edit</a><br><br>
        {% endfor %}
    {% elif dir %}
        {% for d in dir %}
            {{ d }} <a href="{{ url_for('edit_director', director_id=d.directors_id) }}">Edit</a><br><br>
        {% endfor %}
    {% elif room %}
        {% for r in room %}
            {{ r }} <a href="{{ url_for('edit_room', room_id=r.rooms_id) }}">Edit</a><br><br>
        {% endfor %}
    {% endif %}
{% endblock %}