{% extends "base.html" %}
{% block body %}
    <ul>
        <form action="{{ url_for('edit_movie', title=movie_to_update.movies_title) }}" method="POST"><br>
        Title: {{  movie_to_update.movies_title }}<a href="{{ url_for('delete_movie', title=movie_to_update.movies_title) }}">Delete</a><br>
        Genre:<br>
            <select name="genre">
            {% for g in gen %}
                <option value="{{ movie_to_update.movies_genre }}">{{ g.genre }}</option>
            {% endfor %}
            </select><br>
        Duration:<br>
        <input name="duration" type="number" placeholder="DURATION" value="{{  movie_to_update.movies_duration }}" required><br>
        Synopsis:<br>
        <input name="synopsis" type="text" placeholder="SYNOPSIS" value="{{  movie_to_update.movies_synopsis }}" required><br>
        Director:<br>
            <select name="director">
            {% for d in dir %}
                <option value="{{ direct.directors_name }}">{{ d.directors_name }}</option>
            {% endfor %}
            </select><br>
            <input type="submit">

        </form>

    </ul>
{% endblock %}