{% extends "base.html" %}
{% block body %}

    <script src="/static/echarts.min.js"></script>
    <body>
    <br>
    <h3>Movie genre preferences based on gender:</h3><br>
    <div id="bar" style="width: 1000px; height:400px"></div>
    <br>
    <h3>10 most popular movies in the Cinema:</h3>
    <div id="bar2" style="width: 800px; height:400px"></div>
    <br><br>
    <h3>Statistics for movie genres:</h3><br>
    <div id="pie" style="width: 1000px; height:400px"></div>
    <script type="text/javascript">

        var barChart = echarts.init(document.getElementById('bar'));
        var pieChart = echarts.init(document.getElementById('pie'));
        var barChart2 = echarts.init(document.getElementById('bar2'));

        var option2 = {
            tooltip: {
                trigger: 'axis',
                //backgroundColor:'black',// 背景颜色
                formatter: function (params, ticket, callback) {
                  var htmlStr = '';
                  for(var i=0;i<params.length;i++){
                    var param = params[i];
                    var xName = param.name;//x轴的名称
                    var seriesName = param.seriesName;//图例名称
                    var value = param.value;//y轴值
                    var color = param.color;//图例颜色

                    if(i===0){
                      htmlStr += xName + '<br/>';
                    }
                    htmlStr +='<div>';
                    htmlStr += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:'+color+';"></span>';
                    htmlStr += seriesName + '：' + value ;
                    htmlStr += '</div>';
                  }
                  return htmlStr;
                 }
            },
            legend:{
                data:['Quantity']
            },

            xAxis:{
                type: 'category',
                data: {{ xdatas }},
                axisLabel: {
                    show: true,
                    interval:0,
                    rotate:40,
                    textStyle: {
                        color: '#333'
                    }
                },
            },
            yAxis:{
                type: 'value'
            },
            series: [{
                name: 'Quantity',
                data: {{ ydatas }},
                type: 'bar'
            }]

        };


        barChart.setOption({{ bar_options | safe }})
        barChart2.setOption(option2)
        pieChart.setOption({{ pie_options | safe }})
    </script>

    </body>
{% endblock %}