{% extends "base.html" %}
{% block body %}
    <div class="leftPanel">
    {% if manager %}
        To manage movies click <a href="{{ url_for('movie_manager') }}">here</a><br><br>
        To manage movies' sessions click <a href="{{ url_for('session_manager') }}">here</a><br><br>
    {% else %}
        {% if name %}
            Hello {{ name }}!<br><br>
        {% endif %}
    {% endif %}
        Movies currently available:
        <ul>
            {% for f in films %}
                Title: <a href="{{ url_for('movie_info', title=f.movies_title) }}">{{ f.movies_title }}</a> <br>
                Genre: {{ f.movies_genre }} <br>
                Synopsis: {{ f.movies_synopsis }} <br>
                Director: {{ f.directors_name }} <br>
                <br><br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}