{% extends "base.html" %}
{% block body %}
    <form action="{{ url_for('movies_list') }}" method="POST">
        Filter by:<br>
        <label>
            <select id="filter" name="filter_select" onchange="showDiv(this)">
                <option value="genre">Genre</option>
                <option value="director">Director</option>
                <option value="actor">Actor</option>
            </select>
        </label>
        <div id="genre" style="display:block;">
            <label>
                <select name="genre">
                    {% for g in gen %}
                        <option value="{{ g.genre }}">{{ g.genre }}</option>
                    {% endfor %}
                </select>
            </label><br>
        </div>
        <div id="director" style="display: none">
            <label>
                <select name="director">
                    {% for d in dir %}
                        <option value="{{ d.directors_name }}">{{ d.directors_name }}</option>
                    {% endfor %}
                </select>
            </label><br>
        </div>
        <div id="actor" style="display: none">
            <label>
                <select name="actor">
                    {% for a in act %}
                        <option value="{{ a.actors_fullname }}">{{ a.actors_fullname }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
            <input type="submit" value="Submit"><br><br>
    </form>
    <form action="{{ url_for('movies_list') }}" method="GET">
        Remove filter<br>
        <input type="submit" value="Submit">
    </form><br><br>
    <ul>
        {% if current_user.is_manager %}
        To add movies click <a href="{{ url_for('add_movie') }}">here</a><br><br>
        {% endif %}
        {% for m in movies %}
            Title: <a href="{{ url_for('movie_info', title=m.movies_title) }}">{{ m.movies_title }}</a> <br>
            Duration: {{ m.movies_duration }} <br>
            Genre: {{ m.movies_genre }} <br>
            Synopsis: {{ m.movies_synopsis }}<br><br>
        {% endfor %}
    </ul>
    <script type="text/javascript">
    function showDiv(select) {
        if(select.value === 'genre') {
            document.getElementById('director').style.display = "none";
            document.getElementById('actor').style.display = "none";
            document.getElementById('genre').style.display = "block";
        } else if(select.value === 'director') {
            document.getElementById('genre').style.display = "none";
            document.getElementById('actor').style.display = "none";
            document.getElementById('director').style.display = "block";
        } else {
            document.getElementById('genre').style.display = "none";
            document.getElementById('director').style.display = "none";
            document.getElementById('actor').style.display = "block";
        }
    }
    </script>
{% endblock %}