{% extends "base.html" %}
{% block body %}
    These are the movies currently available:
    <ul>
        {% for f in films %}
            Title: {{ f.movies_title }} <br>
            Genre: {{ f.movies_genre }} <br>
            Synopsis: {{ f.movies_synopsis }} <br>
            Director: {{ f.movies_director }} <br>
            <br><br>
        {% endfor %}
    </ul>
    {% if manager %}
        To manage movies click <a href="{{ url_for('movie_manager') }}">here</a><br><br>
    {% else %}
        Hello user
    {% endif %}
    <br><br>
    To logout click <a href="{{ url_for('logout') }}">here</a>
{% endblock %}