{% extends "base.html" %}
{% block body %}
    Projections online:
    <ul>
        {% for m in movies %}
            Title: {{ m.projections_movie }} <br>
            Data: {{ m.projections_data_time }} <br>
            Price: {{ m.projections_price }} <br>
            Room: {{ m.projections_room }} <br>
            Remain_seats: {{ m.projections_remain }} <br>
            <br><br>
        {% endfor %}
    To Add Projections :  <a href="{{ url_for('add_session') }}">ADD</a><br>
    </ul>
{% endblock %}