{% extends "base.html" %}
{% block body %}
    {% endif %}
    <form action="/signup" method="POST">
        Insert your email to sign up !<br><br>
        <input name="id" type="text" placeholder="ID"><br>
        <input name="name" type="text" placeholder="NAME"><br>
        <input name="surname" type="text" placeholder="SURNAME"><br>
        <input name="email" type="text" placeholder="EMAIL"><br>
        <input name="pwd" type="password" placeholder="PASSWORD"><br>
        <input type="submit">
    </form>
{% endblock %}