{% extends 'base.html' %}
{% block body %}
    <form action="{{ url_for('change_password') }}" method="POST">
        Current password:<br>
        <label>
            <input type="password" name="old">
        </label><br>
        New password:<br>
        <label>
            <input type="password" name="new">
        </label><br>
        Confirm new password:<br>
        <label>
            <input type="password" name="new_conf"><br>
        </label>
        <input type="submit">
    </form>
{% endblock %}