{% extends "base.html" %}
{% block body %}
    <div class="leftPanel">
    {% if current_user.is_manager %}
        Hello Manager {{ current_user.name }}!<br><br>
    {% else %}
        {% if current_user.name %}
            Hello {{ current_user.name }}!<br><br>
        {% endif %}
    {% endif %}
        Movies currently available:<br><br>
        <ul>
            {% for f in films %}
                Title: <a href="{{ url_for('movie_info', title=f.movies_title) }}">{{ f.movies_title }}</a> <br>
                Genre: {{ f.movies_genre }} <br>
                Synopsis: {{ f.movies_synopsis }} <br>
                Director: {{ f.directors_name }} <br>
                <br><br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}