{% extends "base.html" %}
{% block body %}
    <div class="leftPanel">
        Here's the latest movies:<br><br>
        <ul>
            {% for f in films %}
                Title: <a href="{{ url_for('movie_info', title=f.movies_title) }}">{{ f.movies_title }}</a> <br>
                Genre: {{ f.movies_genre }} <br>
                Synopsis: {{ f.movies_synopsis }} <br>
                Director: {{ f.directors_name }} <br>
                <br><br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}