{% extends "base.html" %}
{% block body %}
    <style>
        ul {
            padding-left: 10px;
        }
    </style>
    Title: {{ movie.movies_title }} <br>
    Genre: {{ movie.movies_genre }} <br>
    Synopsis: {{ movie.movies_synopsis }} <br>
    Director: {{ movie.directors_name }} <br>
    {% if movie.movies_duration %}
        Length: {{ (movie.movies_duration/60) | round(1) }} hours <br>
    {% endif %}
    {% if movie.movies_date %}
        Release date: {{ movie.movies_date }}<br>
    {% else %}
        Release date: COMING SOON<br>
    {% endif %}
    Cast:<br>
    {% for c in cast %}
        <ul>{{ c.actors_fullname }}</ul>
    {% endfor %}<br>
    {% if current_user.is_manager %}
        <a href="{{ url_for('add_cast', title=movie.movies_title) }}">Add</a> a new actor to this movie<br>
    {% endif %}
    <br>
    {% if current_user.is_manager %}
        <a href="{{ url_for('add_projection_movie', title=movie.movies_title) }}">Add</a> a new projection <br>
    {% endif %}
    Projections schedule: <br>
    {% if projections %}
        <ul>
            {% for p in projections %}
                Date: {{ p.date }}<br>
                Time: {{ p.time }} <br>
                Room: {{ p.room }}<br>
                Price: {{ p.price }}<br>
                Tickets remaining: {{ p.tickets_left }} <br>
                {% if current_user.is_manager %}
                    <a href="{{ url_for('delete_projection_movie', title=movie.movies_title, proj=p.id) }}">Delete</a>
                    <br><br>
                {% else %}
                    {% if p.tickets_left > 0 and current_user.is_authenticated %}
                        <a href="{{ url_for('purchase_ticket', title=movie.movies_title, projection=p.id) }}">Buy
                            ticket</a><br>
                    {% endif %}
                    <br>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <br>
        We're sorry. There are no scheduled projections at the moment
    {% endif %}
{% endblock %}