{% extends 'base.html' %}
{% block body %}
    Name: {{ current_user.name }} <br>
    Surname: {{ current_user.surname }} <br>
    Email: {{ current_user.email }} <br>
    Balance: {{ current_user.balance }}<br><br>
    Orders: <br>
    <ul>
        {% for i in info %}
            Movie: {{ i.movies_title }}<br>
            Date: {{ i.projections_date_time }}<br>
            Room: {{ i.rooms_name }}<br>
            Seat: {{ i.seats_name }}<br>
            <br>
        {% endfor %}
    </ul>
{% endblock %}