{% extends "base.html" %}
{% block body %}
    <form action="{{ url_for('signup') }}" method="POST">
        Insert your email to sign up !<br><br>
        <input name="name" type="text" placeholder="NAME" required><br>
        <input name="surname" type="text" placeholder="SURNAME" required><br>
        <input name="email" type="text" placeholder="EMAIL" pattern="[A-z0-9\.\+_-]+@[A-z0-9\._-]+\.[A-z]{2,6}"
               required> <br>
        <input name="pwd" type="password" placeholder="PASSWORD" required><br>
        <select name="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select><br>
        <input type="submit" value="Sign up">
    </form>
{% endblock %}